.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
*.pdf
*.ige
*.img
*.rde
*.rrd
*.xml
*.dbf
*.prj
*.shp
*.shx
*.tif
*.zip
*.stk
*.xlsx
*.jpeg
*.png
*.Rmd
*.html

# Folders 
1.DataManagement/CleanData/
1.DataManagement/RawData/
2.Chapter1/3.Output/
2.Chapter2/3.Output/
